* {    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    background: #000 url('img/donation13.jpg');
    background-size: cover;
    color: rgb(229, 220, 220);
    height: 550px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container h1 {
    font-weight: 700;
    font-size: 65px;
    text-align: center;
    z-index: 10;
}

.container p {
    color: #e4d7d7;
    font-weight: 400;
    font-size: 18px;
    z-index: 9;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.color_overlay {
    width: 100%;
    height: 100%;
    background: rgb(255, 240, 240);
    opacity: 0.5;
    position: absolute;
}

/* header button  */
.h_btn {
    z-index: 8;
    font-weight: 600;
    font-size: 20px;
    width: 160px;
    height: 56px;
    background: #FF5959;
    border-radius: 5px;
    border: 0;
    color: #fff;
}

/* donate today part */
.donate_today h2 {
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    margin-top: 130px;
    color: #121212;
}

.donate_today p {
    color: #707070;
    text-align: center;
    margin: 20px 374px 50px;
}

/* taka section start */
.taka {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 60px;
}

.amount {
    width: 135px;
    height: 100px;
    background: #FAFAFA;
    border-radius: 5px;
    /* padding: 30px 20px; */
    font-weight: 700;
    border: 1px solid #FF5959;
    font-size: 18px;
    color: #707070;
    text-align: center;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.other_amount {
    color: #B3B3B3;
    text-align: center;
    padding-bottom: 10px;
}

/* .other_amount-s hr {
    width: 30%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    background: #FAFAFA;
    padding-bottom: 100px;
} */
.hr2 {
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #bba8a8, rgba(0, 0, 0, 0));
}

/* Other amount btn  */
.ota_btn {
    display: flex;
    justify-content: center;
}

.ota {

    font-weight: 600;
    font-size: 20px;
    width: 160px;
    height: 56px;
    background: #FF5959;
    border-radius: 5px;
    border: 0;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 130px;
}

/* Donate plan start */
.donat_plan {
    text-align: center;
}

.donat_plan h2 {
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 20px;
}

.donat_plan .dp_des {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #707070;
    padding-bottom: 50px;
}

/* help card css  */
.help_card {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 125px;
}

.help_card .card_1 {
    width: 350px;
    height: 340px;
    background: rgba(202, 223, 153, 0.548);
    border-radius: 5px;

}

.help_card .card_2 {
    width: 350px;
    height: 340px;
    background: rgba(255, 89, 89, 0.1);
    border-radius: 5px;

}

.help_card .card_2 svg {
    width: 100px;
    padding-top: 20px;

}

.help_card .card_3 {
    width: 350px;
    height: 340px;
    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;

}

.help_card h3 {
    font-weight: 700;
    text-align: center;
    font-size: 24px;
    color: #121212;
    padding-bottom: 31px;
}

.help_card p {
    color: #707070;
    text-align: center;
}

.help_card svg {
    width: 80px;
    padding-left: 100px;
}

/* HELP Card part end */
/* bodey poster 1 part start */
.body_poster_1 {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    padding-right: 200px;
    padding-left: 156px;
    margin-bottom: 100px;
}

.body_poster_1 img {
    width: 300px;
    height: 400px;
    border-radius: 10px;
}

.body_poster_1 h2 {
    font-weight: 700;
    font-size: 45px;
}

.body_poster_1 p {
    color: #707070;
    font-weight: 400;
    font-size: 18px;
    margin-top: 20px;
}

.donate_btn {
    width: 230px;
    height: 56px;
    background: #FF5959;
    border-radius: 5px;
    border: 0;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    margin-top: 50px;
}

/* body poster */
.body_poster_2 {
    display: flex;
    justify-content: space-between;
    gap: 90px;
    padding-left: 156px;
    padding-bottom: 130px;
}

.body_poster_2 img {
    width: 300px;
    height: 350px;
    border-radius: 5px;
}

.body_poster_2 h2 {
    font-weight: 700;
    font-size: 45px;
}

.body_poster_2 p {
    font-weight: 400;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 25px;
    color: #707070;
}

/* body button part */
.body_btn {
    width: 230px;
    height: 56px;
    background: #FF5959;
    border-radius: 5px;
    border: 0;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
}

/* subscribe part */
.subscribe_part {
    text-align: center;
}

.subscribe_part h1 {
    font-weight: 700;
    font-size: 45px;
    padding-bottom: 20px;
}

.subscribe_part p {
    color: #707070;
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 50px;
}

/* subscribe froum part start */
.sub_from {
    display: flex;
    gap: 0;
    width: 750px;
    justify-content: center;
    height: 200px;
    margin-right: 215px;
    margin-left: 215px;
    background: #FFF4D6;
    margin-bottom: 130px;
}

/* subscribe button and from start here */
/* input box */
#your_mail {
    width: 275px;
    height: 48px;
    margin-top: 75px;
    border: 0;
    background: #D9D9D9;
    border-radius: 5px 0px 0px 5px;
    padding-left: 15px;
    font-size: 1em;
}

/* button start here */
.submit {
    width: 157px;
    height: 48px;
    background: #FF5959;
    border: 0;
    color: #FAFAFA;
    font-size: 1em;
    border-radius: 5px;
}
/* footer part start here  */
footer
{
    background: #0B0D17;
    height: 175px;
    width: 100%;
}
footer h1
{
    color: #FF5959;
    font-family: 'Lobster';
    text-align: center;
    padding-top: 15px;
}
footer h6
{
    color: #FFFFFF;
    text-align: center;
    padding-top: 10px;
    font-size: 17px;
}